<ion-content class="background">
  <ion-card>
    <ion-card-header>
      Bienvenido a Selk'App
    </ion-card-header>
    <ion-card-content >
      <ion-list>
        <form [formGroup]="loginForm" novalidate>

            <ion-item>
              <ion-label floating>Correo Electrónico</ion-label>
               <ion-input #email type="email" formControlName="email"
               [class.invalid]="!loginForm.controls.email.valid && loginForm.controls.email.dirty"></ion-input>
            </ion-item>
            <ion-item class="error-message"
              *ngIf="!loginForm.controls.email.valid  && loginForm.controls.email.dirty">
              <p>Por favor ingrese un email valido.</p>
            </ion-item>

            <ion-item>
              <ion-label floating>Contraseña</ion-label>
               <ion-input #password formControlName="password" type="password"
               [class.invalid]="!loginForm.controls.password.valid && loginForm.controls.password.dirty"></ion-input>
            </ion-item>
            <ion-item class="error-message"
              *ngIf="!loginForm.controls.password.valid  && loginForm.controls.password.dirty">
              <p>Su contraseña necesita más de 6 caracteres.</p>
            </ion-item>

            <button ion-button block outline color="light" (click)="loginUser()">ENTRAR</button>
            <button ion-button block color="facebook" (click)="loginFacebook()">
  						<ion-icon name="logo-facebook"></ion-icon>Inicia Sesión con Facebook
  					</button>
        </form>

        </ion-list>
    </ion-card-content>
  </ion-card>
  <button ion-button full clear class="bottom" color="light" (click)="register()">¿No tienes cuenta? REGÍSTRATE</button>
</ion-content>
